 <%= stylesheet_link_tag "project", "data-turbo-track": "reload" %>


<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" >
  <%= image_tag 'ada_byron.jpg', class: 'card_img'  %>
  <div class="card-body">
    <h5 class="card-title">Proyecto Html</h5>
    <p class="card-text"> Web desarrollada solamente con Html.</p>
    <a href="#" class="btn "> Ver Mas</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" >
  <%= image_tag 'olivia_ross.jpg', class: 'card_img' %>
  <div class="card-body">
    <h5 class="card-title"> Olivia Ross</h5>
    <p class="card-text"> Web responsiva desarrollada con HTML y Bootstrap.</p>
    <a href="#" class="btn "> Ver Mas</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" >
  <%= image_tag 'viajes_chile.jpg', class: 'card_img' %>
  <div class="card-body">
    <h5 class="card-title">Viajes por Chile</h5>
    <p class="card-text">Web Responsiva desarrollada con HTML, Bootstrap y Jquery.
    </p>
    <a href="#" class="btn "> Ver Mas</a>
  </div>
</div>
    </div>
  </div>
</div>